.terraform
.terraform.lock.hcl
.terraform.tfstate
.terraform.tfstate.backup
create-secret.sh
create-secret-dev.sh
create-secret-prod.sh
create-secret-prd.sh

terraform.tfstate
terraform.tfstate.backup
